node_modules
package-lock.json
#.vscode
README.md.backup

#Typescript
out
tsconfig.tsbuildinfo

#Hardhat files
cache
artifacts

#Python artifacts
__pycache__
.pytest_cache

#Starknet plugin
starknet-artifacts

#project
src/tmp/
src/scriptsA2/
src/scriptsA1/
src/A1priv/
src/A2priv/
src/A-MainPriv/
.env
src/A1priv/A1priv.ts
src/A2priv/A1priv.ts
src/A-MainPriv/mainPriv.ts
